<h1>Victoria's Coffin</h1>
<h3>&#9825; The world's most reliable coffin shipping service &#9825;</h3>
<p><i>Trust us with your death! &#9760;</i></p>
<hr style="border: 1px solid black">
<h4>Describe your casket:</h4>
<form action="/parcels">
  <div class="form-group">
    <label for="length">Length (in inches):</label>
    <input id="length" name="length" class="form-control" type="text" required = "true">
    <label for="width">Width (in inches):</label>
    <input id="width" name="width" class="form-control" type="text" required = "true">
    <label for="height">Height (in inches):</label>
    <input id="height" name="height" class="form-control" type="text" required = "true">
    <label for="weight">Weight (in pounds):</label>
    <input id="weight" name="weight" class="form-control" type="text" required = "true">
    <label for="gift_wrap">Add gift wrap?<p>Yes: </label>
    <input id="yes" name="gift_wrap" type="radio" value = "yes" checked = "yes">
    <label for="gift_wrap">No: </label>
    <input id="no" name="gift_wrap" type="radio" value = "no">
  </div>
  <button type="submit" class="btn-success">submit</button>
</form>
